#box1,
#box2 {
    width: 100px;
    height: 100px;
    position: absolute;
}

#box1 {
    background-color: hotpink;
    transform: translateX(50px);
}

#box2 {
    background-color: greenyellow;
    transform: translateX(200px);
}